* {
    box-sizing: border-box;
}

.navbar {
    background-color: #13430B;
}

.navbar-inverse {
    border-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover {
    color: #C8E6C6;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #B9DEB3;
}

.navbar-brand {
    font-size: 24px !important;
    font-weight: 700;
}
.navbar-nav {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

section, .banner-topo {
    min-height: 450px;
    margin: 0 auto 50px;
    padding-top: 40px;
}

.banner-topo {
    height: 600px;
    position: relative;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.section-title, .section-subtitle {
    text-align: center;
    font-weight: 700;
}

.section-subtitle {
    margin-top: 0;
    font-weight: 700;    
}

.header-title {
    font-size: 64px;
}

.bg-cinza {
    background: #555;
}

.fonte-branca {
    color: #fff;
}

.footer-infos {
    padding: 20px 0;
}

.footer-infos {
    font-size: 20px;
    background-color: #0A5706;
}

.footer-infos .title {
    font-size: 20px;
    font-weight: 700;
}

.links a:hover {
    text-decoration: none;
    color: #C8E6C6;
}

.endereco {
    font-size: 18px;
}

.social-link {
    color: #333;
}

.social-link:hover {
    color: #0A5706;
}

.footer-copyright {
    background-color: #022400;
    font-size: 16px;
    padding-top: 10px;
}

.parallax {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .section-title,
.parallax .section-subtitle {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.bg-header {
    background-image: url('../images/bg-header.jpg');
}

.box-produtos {
    height: 360px;
    margin: 15px 0;
    position: relative;
}

.box-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.box-1 {
    background-image: url('../images/bg-box1.jpg');
}
.box-2 {
    background-image: url('../images/bg-box2.jpg');
}
.box-3 {
    background-image: url('../images/bg-box3.jpg');
}
.box-4 {
    background-image: url('../images/bg-box4.jpg');
}

/*CONTATO*/
#contatos{
    font-size: 25px;
    height: 600px;
}

#contatos, h2 p{
    padding-left: 35px;
}

.btn-servicos {
    margin-top: 20px;
}

.bg-institucional {
    background-image: url('../images/bg-institucional.jpg');
}

.texto-institucional {
    margin: 40px 0;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.media img {
    max-width: 150px;
}

.noticias {
    padding-top: 30px;
}

.noticia {
    margin-bottom: 30px;
}

.bg-contato {
    background-image: url('../images/bg-contato.jpg');
}

.texto-contato {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.btn-contato {
    margin-top: 60px;
}

.fa-leaf {
    color: #1CCD00;
}

.btn-vazado {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #246819;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
}

.btn-vazado:hover {
    text-decoration: none;
    background-color: #fff;
    color: #246819;
}

.btn-inverso {
    color: #246819;
    background-color: #fff;
    border-color: #246819;
}

.btn-inverso:hover {
    color: #fff;
    background-color: #246819;
}

body a {
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}