* {
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 24px !important;
}
.navbar-nav {
    font-size: 16px;
    text-transform: uppercase;
}

section, .banner-topo {
    min-height: 450px;
    margin: 0 auto 50px;
    padding-top: 40px;
}

.banner-topo {
    height: 600px;
    position: relative;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.section-title, .section-subtitle {
    text-align: center;
    font-weight: 700;
}

.section-subtitle {
    margin-top: 0;
    font-weight: 700;    
}

.header-title {
    font-size: 64px;
}

.bg-cinza {
    background: #555;
}

.fonte-branca {
    color: #fff;
}

.footer-infos {
    padding: 20px 0;
}

.footer-infos {
    font-size: 20px;
    background-color: #333;
}

.footer-infos .title {
    font-size: 20px;
    font-weight: 700;
}

.links a:hover {
    text-decoration: none;
    color: #ddd;
}

.endereco {
    font-size: 18px;
}

.social-link {
    color: #333;
}

.social-link:hover {
    color: #222;
}

.footer-copyright {
    background-color: #000;
    font-size: 16px;
    padding-top: 10px;
}

.parallax {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .section-title,
.parallax .section-subtitle {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.bg-header {
    background-image: url('../images/bg-header.jpg');
}

.box-produtos {
    height: 360px;
    margin: 15px 0;
    position: relative;
}

.box-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.box-1 {
    background-image: url('../images/bg-box1.jpg');
}
.box-2 {
    background-image: url('../images/bg-box2.jpg');
}
.box-3 {
    background-image: url('../images/bg-box3.jpg');
}
.box-4 {
    background-image: url('../images/bg-box4.jpg');
}